* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf3ff;
    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    width: 600px;
    height: 330px;
    display: flex;
    justify-items: center;
    align-content: center;
}

.roxo {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to bottom, #6441fc, #332eea);
    border-radius: 10px;
    text-align: center;
    color: white;
}

.numero {
    font-size: 50px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    background-image: linear-gradient(to bottom, #2600ae8a , #8e6fff70);
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.resumo {
    width: 50%;
    height: 100%;
    background-color: bisque;
    border-radius: 10px;
    /* display: flex; */
    text-align: center;
    align-items: center;
}

.rosa{
color: #cb2c2c;
background-color: #ff7f7fa4;
border-radius: 15px;
gap: 20px;
}

.amarelo{
color: #ffae00;
background-color: #ffd780;
border-radius: 15px;
}

.verde{
color: #52b69c;
background-color: #9cfce357;
border-radius: 15px;
}

.azul{
color: #262c8e;
background-color: #6169ff67;
border-radius: 15px;

}

.filetas{
    padding: 20px;
}

.botao {

}